body {
    text-align: center;
}

nav {
    background-color: rgb(136, 35, 70);
}

a:hover {
    background-color: rgb(249, 185, 85);
}

#aboutTxt {
    padding: 1rem;
    text-align: start;
    text-indent: 3%;
}

h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

footer {
    color: grey;
    padding-top: 1rem;
}